/* div.stApp.stAppEmbeddingId-s71so7q0pfeo.st-emotion-cache-1r4qj8v.erw9t6i1{
    background-color: black;
}

/* div.st-emotion-cache-1kyxreq.e115fcil2
{
    background-color: blanchedalmond;
} */

/* div.st-emotion-cache-1kyxreq.e115fcil2:hover
{
    background-color: blanchedalmond;
    size: 2px;
} */ 
